gitmit# ข้ามโฟลเดอร์ node_modules

node_modules/

# ข้ามไฟล์สำหรับสภาพแวดล้อมการพัฒนา

.env

# ข้ามโฟลเดอร์ที่ถูกสร้างจากการ build (เปลี่ยนตามที่คุณตั้งค่า outDir ใน tsconfig.json)

build/

# ข้ามไฟล์ log
logs/*
\*.log

# ข้ามไฟล์ที่เกิดจากระบบปฏิบัติการ

.DS_Store
\*.swp

# ข้ามไฟล์ที่เกิดจากเครื่องมือการพัฒนา

.vscode/
.idea/

# ข้ามไฟล์ที่เกิดจากการ npm i
package-lock.json